{%
sponsors = [
  { logo: /sponsors/spotify.png
    url: "https://engineering.atspotify.com/2024/11/congratulations-to-the-recipients-of-the-2024-spotify-foss-fund"
  }
  { logo: /sponsors/aruna.webp
    url: "https://aruna.de"
  }
  { logo: /sponsors/shopify.svg
    url: "https://shopify.engineering"
  }
  { logo: /sponsors/famly.svg
    url: "https://famly.co"
  }
]
%}

@:embed(/templates/main.template.html)
<div class="bulma-section bulma-is-centered">
  <h1 class="bulma-title bulma-is-1"></h1>
  <h4 class="bulma-subtitle bulma-is-4">We do functional programming</h4>
</div>
<div class="bulma-section">
  <h4 class="bulma-subtitle bulma-is-4">Typelevel is built by a vibrant community and supported by a nonprofit
    Foundation.</h4>
  <div class="bulma-columns bulma-is-vcentered">
    @:for(sponsors)
    <div class="bulma-column bulma-has-text-centered">
      <a href="${_.url}"><img class="sponsor" src="@:target(_.logo)" /></a>
    </div>
    @:@
  </div>
</div>
@:@
