<nav class="bulma-navbar" role="navigation" aria-label="main navigation">
  <div class="bulma-navbar-brand">
    <a class="bulma-navbar-item" href="@:target(/README.md)">
      <img src="@:target(/img/logo.svg)" />
    </a>

    <a role="button" class="bulma-navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu" onClick="handleBurgerClick(this)">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="bulma-navbar-menu" id="navMenu">
    <div class="bulma-navbar-start">

    </div>
    <div class="bulma-navbar-end">
      <div class="bulma-navbar-item"><a class="bulma-button bulma-is-rounded bulma-is-link">Get Started</a></div>
      <div class="bulma-navbar-item"><a class="bulma-button bulma-is-white">Learn</a></div>
      <div class="bulma-navbar-item"><a class="bulma-button bulma-is-white">Community</a></div>
      <div class="bulma-navbar-item"><a class="bulma-button bulma-is-white">Foundation</a></div>
      <div class="bulma-navbar-item"><a class="bulma-button bulma-is-white" href="@:target(/blog/README.md)">Blog</a></div>
      <div class="bulma-navbar-item">
        <a id="search-top-bar" class="bulma-button bulma-is-white" aria-label="Search">
          <span class="bulma-icon bulma-is-small">
            <i class="fas fa-magnifying-glass"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Search Modal -->
<div id="search-modal" class="bulma-modal">
  <div class="bulma-modal-background"></div>
  <div class="bulma-modal-card">
    <header class="bulma-modal-card-head">
      <div class="bulma-field bulma-is-expanded">
        <p class="bulma-control bulma-has-icons-left">
          <input id="search-modal-input" class="bulma-input bulma-is-medium" type="search" autocomplete="off">
          <span class="bulma-icon bulma-is-left">
            <i class="fas fa-magnifying-glass"></i>
          </span>
        </p>
      </div>
      <button class="bulma-delete bulma-is-large search-close" aria-label="close"></button>
    </header>
    <section id="search-modal-content-body" class="bulma-modal-card-body">
      <p class="bulma-has-text-grey bulma-has-text-centered">Type to search...</p>
    </section>
    <footer class="bulma-modal-card-foot bulma-is-justify-content-space-between">
      <span class="bulma-has-text-grey bulma-is-size-7">
        <kbd class="bulma-tag">/</kbd> to open search &nbsp;
        <kbd class="bulma-tag">Esc</kbd> to close
      </span>
      <a href="@:target(/search/search.html)" class="bulma-has-text-grey bulma-is-size-7">Advanced search</a>
    </footer>
  </div>
</div>