<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>Typelevel</strong>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/learn/">Learn</a>
        <a class="navbar-item" href="/blog/">Blog</a>
        <a class="navbar-item" href="/foundation/">Foundation</a>
        <a class="navbar-item" href="/community/">Community</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <button id="search-top-bar" class="button is-small search-button" type="button">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </span>
            <span>Search</span>
            <span class="search-shortcut">/</span>
          </button>
          <div id="search-modal" class="search-modal">
            <div class="search-modal-content">
              <span class="search-close">&times;</span>
              <input id="search-modal-input" class="input" type="text" placeholder="Search documentation...">
              <div id="search-modal-content-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
