@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-prefixed.min.css";

/* :root {
  --bulma-scheme-h: 25.26deg;
  --bulma-scheme-s: 70.37%;
  --bulma-scheme-l: 94.71%;
  --bulma-link-h: 344.69deg;
  --bulma-link-s: 92.36%;
  --bulma-link-l: 69.22%;
  --bulma-text-h: 278.82deg;
  --bulma-text-s: 10.56%;
  --bulma-text-l: 31.57%;
  --bulma-primary-h: 0deg;
  --bulma-primary-s: 84.31%;
  --bulma-primary-l: 90.00%;
} */

/* :root {
  --bulma-primary-h: 270deg;
  --bulma-primary-s: 30%;
  --bulma-primary-l: 61%;

  --bulma-link-h: 340deg;
  --bulma-link-s: 52%;
  --bulma-link-l: 76%;

  --bulma-scheme-h: 320deg;
  --bulma-scheme-s: 40%;

  --bulma-text-h: 270deg;
  --bulma-text-s: 35%;
  --bulma-text-l: 30%;
} */


:root {
  --bulma-primary-h: 296deg;
  --bulma-primary-s: 17%;
  --bulma-primary-l: 45%;

  --bulma-link-h: 345deg;
  --bulma-link-s: 93%;
  --bulma-link-l: 53%;

  --bulma-scheme-h: 270deg;
  --bulma-scheme-s: 43%;
  --bulma-scheme-main-l: 98%;
  --bulma-scheme-main-bis-l: 96%;
  --bulma-scheme-main-ter-l: 94%;

  --bulma-text-h: 260deg;
  --bulma-text-s: 26%;
  --bulma-text-l: 25%;
  --bulma-text-strong-l: 20%;
  --bulma-text-soft-l: 45%;
}

:root {
  --bulma-body-size: 1.1em
}

.bulma-button {
  --bulma-button-text-decoration: none;
}

.bulma-navbar {
  --bulma-navbar-height: 5rem;
  --bulma-navbar-item-img-max-height: 3rem;
}

body {
  min-height: 100vh;
}

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 1.4em;
  margin-top: -3px;
  text-align: right;
  text-decoration: none;
  margin-left: -1.2em;
  padding-right: 0.5em;
}

h1:hover > a.anchor-link,
h2:hover > a.anchor-link,
h3:hover > a.anchor-link,
h4:hover > a.anchor-link,
h5:hover > a.anchor-link,
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

.anchor-link .fa-link {
  font-size: 0.6em;
}

img.sponsor {
  max-height: 48px;
}

/* Hack to prevent double-rendering the title in blog posts */
.blog-post .title {
  display: none;
}

/* Hack to render multi-author bylines */
.blog-post-byline span.delimiter:nth-last-child(-n+2 of .delimiter) {
  display: none;
}

.blog-post-byline span.last-delimiter:not(:nth-last-child(2 of .last-delimiter)) {
  display: none;
}

/* Laika syntax highlighting */
:root {
  --code-font: "Fira Mono", monospace;
  --code-font-size: var(--bulma-code-size);
  --primary-color: var(--bulma-text);
  --syntax-base1: #21303f; /* background */
  --syntax-base2: #73ad9b; /* comments */
  --syntax-base3: #b2adb4; /* punctuation */
  --syntax-base4: #ffb4b5; /* identifier */
  --syntax-base5: #e6e8ea; /* unclassified */
  --syntax-wheel1: #8fa1c9; /* substitution, annotation */
  --syntax-wheel2: #81e67b; /* keyword, escape-sequence */
  --syntax-wheel3: #ffde6d; /* declaration name */
  --syntax-wheel4: #86aac1; /* literals */
  --syntax-wheel5: #f86971; /* type/class name */

  /* Protosearch theme integration */
  --ps-bg: var(--bulma-scheme-main);
  --ps-text-muted: var(--bulma-text-weak);
  --ps-border: var(--bulma-border);
  --ps-link: var(--bulma-link);
  --ps-highlight: #ffde6d;
}

/* Equal height cards in grid */
.bulma-cell > .bulma-card {
  height: 100%;
}
